[submodule "ICLR"]
	path = ICLR
	url = https://github.com/ArmageddonKnight/ICLR
[submodule "IEEEtran"]
	path = IEEEtran
	url = https://github.com/ArmageddonKnight/IEEEtran
[submodule "NeurIPS"]
	path = NeurIPS
	url = https://github.com/ArmageddonKnight/NeurIPS
[submodule "USENIX"]
	path = USENIX
	url = https://github.com/ArmageddonKnight/USENIX
[submodule "acmSigConf"]
	path = acmSigPlan
	url = https://github.com/ArmageddonKnight/acmSigPlan
[submodule "ut-thesis"]
	path = ut-thesis
	url = https://github.com/ArmageddonKnight/ut-thesis
